@import "variables.scss";

.logo-container {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: white;
}
.logo {
  height: 30px;
  padding: 5px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, $secondary, $primary);
  color: #fff;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
